@import './styles/recap.css';

body {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 2.5vh;
  overflow-x: hidden;
  margin: 0px;
  min-height: 100vh;
  width: auto;
  background: #F8F6F5;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* media query added to accomodate space for notch */
@media screen and (display-mode: standalone) {
  header {
    height: 88px !important;
  }
}