@import "./styles/navbar.css";
@import "./styles/recap.css";
@import "./styles/signup.css";
@import "./styles/disclaimer.css";
@import "./styles/nav-bar-icons.css";
@import "./styles/homepage.css";
@import "./styles/leaderboard.css";
@import "./styles/current-workout.css";
@import "./styles/musclegroup.css";
@import "./styles/user-profile.css";
@import "./styles/exercises-list.css";
@import "./styles/choose-sprite.css";
@import "./styles/workout-summary.css";
@import "./styles/loading.css";
@import './styles/timer.css';
@import "./styles/preset-workouts.css";
@import "./styles/previous-workouts.css";
@import "./styles/progress-bar.css";
@import "./styles/update.css";
@import "./styles/single-preset.css";
@import "./styles/media-query.css";

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 2.5vh;
  overflow-x: hidden;
}

body {
  margin: 0;
  width: auto;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

label {
  display: block;
}

.header {
  position: fixed;
  top: 0;
  background-color: #aececc;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
}

.header-not-signed-in {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
}

.header-logo-container {
  display: flex;
  justify-content: center;
  background-color: #aececc;
}

.header-logo {
  padding: 1rem;
  text-align: center;
  width: 8rem;
}

form div {
  margin: 1em;
  display: inline-block;
}

.routes-container {
  padding: 3rem 1.5rem 4rem 1.5rem;
}

p {
  margin: 0;
}

/* media query added to accomodate space for notch */
@media screen and (display-mode: standalone) {
  header {
    height: 88px !important;
  }
}
