.choose-sprite-heading {
  font-size: 1.25rem;
  text-align: center;
  padding: 0.5rem 1rem 1rem 1rem;
}

.sprite-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1;
}

.sprite-individual {
  width: 33%;
}

.sprite-small {
  max-height: 100px;
}
