.contact-heading {
  text-align: center;
  font-weight: 700;
  font-size: 1.25rem;
  margin: .75rem 0 1rem 0;
}

.contact-members-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact-single-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  box-shadow: rgb(19 19 18 / 17%) 0px 0.5rem 1rem;
  padding: .75rem;
}

.contact-pic-container, .contact-info-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .75rem;
}

.contact-pic {
  border-radius: 50%;
  width: 20vh;
  border: .2rem solid white;
  box-shadow: rgb(19 19 18 / 17%) 0px 0.5rem 1rem
}

.contact-info {
  font-weight: 600;
}

.contact-name {
  font-size: 1.2rem;
  padding-bottom: .25rem;
}

.github {
  background-image: linear-gradient(#862294, #522377);
  background-clip: text;
  color: transparent;
  font-size: 3rem;
}

.linkedin {
  color: #0966C2;
  font-size: 3rem;
}

.id-alt {
  font-size: 2.3rem;
  padding-bottom: .1rem;
  color: #c0b6b1;
}

.contact-info-container {
  flex-direction: row;
  font-size: 2.5rem;
  gap: 2rem;
}