.cw-container {
  display: flex;
  flex-direction: column;
}

.cw-workout-name {
  font-size: 1.35rem;
  margin-bottom: 0;
  font-weight: 500;
}
.cw-exercise-name {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: .5rem;
}

.cw-headings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 .25rem;
}

.cw-heading {
  margin: 0;
  font-size: .8rem;
  font-weight: 600;
  color: #5B5757;
}

.cw-previous-heading {
  width: 3.5rem;
  text-align: center;
}

.cw-weight-heading {
  margin-left: .25rem;
}

.cw-heading-check {
  margin-right: .25rem;
}

.cw-info-container {
  background: #EFEFEF;
  border-radius: 5px;
}

.cw-set-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: .5rem .3rem;
}

.cw-set-info input {
  text-align: center;
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: .75rem;
}

.cw-set {
  text-align: center;
}

.cw-sr-input, .cw-check-input {
  height: 1.25rem;
  width: 1.25rem;
  background: #C9E0E8;
  border-radius: 5px;
  border: none;
}

.cw-rep-input {
  margin-left: .8rem;
}

.cw-weight-input {
  height: 1.25rem;
  width: 2.5rem;
  background: #C9E0E8;
  border-radius: 5px;
  border: none;
  margin-left: .6rem;
}

.cw-check-input {
  background: #C8E5B8;
}

.cw-previous {
  font-size: .7rem;
  margin: 0;
  color: #5B5757;
  text-align: center;
  width: 3.5rem;
}

.cw-btn-container {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.cw-add-btn {
  font-size: .8rem;
  background: #DDE5F0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
  width: 10rem;
  height: 1.5rem;
}

.cw-finish-btn {
  font-size: .8rem;
  background: #CEE2CD;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
  width: 15rem;
  height: 1.5rem;
}

.cw-exercise-name {
  font-size: .8rem;
}