.cw-container {
  display: flex;
  flex-direction: column;
}

form {
  margin: 0;
}

.cw-workout-name {
  display: flex;
  flex-direction: row;
  font-size: 1.25rem;
  margin: 0;
  font-weight: 500;
  width: 15rem;
  border: none;
}
.cw-exercise-name {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: .5rem;
}

.cw-headings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  font-size: .5rem;
  margin: 0 .25rem;
}

.cw-heading {
  margin: 0;
  font-size: .8rem;
  font-weight: 600;
  color: #5B5757;
}

.cw-pushed-heading {
  width: 3.5rem;
  text-align: center;
  margin-left: .7rem;
}

.cw-weight-heading {
  margin-left: 1rem;
}

.cw-heading-check {
  margin-left: .25rem;
}

.cw-info-container-main {
  background: #F2F2F2;
  border-radius: 5px;
}

.cw-info-container-yes {
  background: #DDECD2;
  border-radius: 5px;
}

.cw-info-container-no {
  background: #F2F2F2;
  border-radius: 5px;
}

.cw-set-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: .5rem .2rem;
}

.cw-set-info input {
  text-align: center;
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: .75rem;
  margin-left: .3rem;
}

.cw-sr-input-yes {
  height: 1.25rem;
  width: 1.25rem;
  background: #adcce5;
  border-radius: 5px;
  border: none;
  text-align: center;
}

.cw-sr-input-no {
  height: 1.25rem;
  width: 1.25rem;
  background: #d1e5f5;
  border-radius: 5px;
  border: none;
  text-align: center;
}

.cw-rep-input {
  margin-left: 1rem;
  width: 1.5rem;
}

.cw-weight-input-yes {
  height: 1.25rem;
  width: 2.25rem;
  background: #adcce5;
  border-radius: 5px;
  border: none;
  margin-left: .5rem;
}

.cw-weight-input-no {
  height: 1.25rem;
  width: 2.25rem;
  background: #d1e5f5;
  border-radius: 5px;
  border: none;
  margin-left: .5rem;
}

.cw-reps-heading {
  margin-left: 1.35rem;
}

.cw-check-yes{
  height: 1.25rem;
  width: 1.25rem;
  background: #a8ca95;
  border-radius: 5px;
  border: none;
  text-align: center;
  margin-right: .4rem;
}

.cw-check-no{
  height: 1.25rem;
  width: 1.25rem;
  background: #d6d6d6;
  border-radius: 5px;
  border: none;
  text-align: center;
  margin-right: .4rem;
}

.cw-total {
  font-size: .7rem;
  margin: 0;
  color: #5B5757;
  text-align: center;
  width: 3.5rem;
}

.cw-btn-container {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.cw-add-btn {
  font-size: .8rem;
  background: #D2EBC0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.01);
  border-radius: 5px;
  border: none;
  width: 10rem;
  height: 1.5rem;
}

.cw-delete-btn {
  font-size: .8rem;
  background: #fadde0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.01);
  border-radius: 5px;
  border: none;
  width: 10rem;
  height: 1.5rem;
}

.cw-finish-btn {
  font-size: .8rem;
  background: #d1e5f5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.01);
  border-radius: 5px;
  border: none;
  width: 15rem;
  height: 1.5rem;
}

.cw-exercise-name {
  font-size: .8rem;
  margin: 0 0.25rem;
}

.exercise-delete-btn {
  border: none;
  background: inherit;
  padding-left: .75rem;
}

.exercise-delete-btn-img {
  height: 1rem;
}

.cw-exercise-name-btn {
  margin: .5rem 0;
}

.cw-finish-workout-btn {
  display: flex;
  justify-content: center;
}

.cw-heading-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 1rem;
}