.all-exercises-container {
  display: flex;
  flex-direction: column;
}

.all-exercises-heading {
  font-size: 1rem;
}

.all-exercises-list {
  list-style: none;
  padding: 0;
}

.all-exercises-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .5rem 0;
}

.all-exercises-list-name {
  font-size: .8rem;
  color: black;
}

.all-exercises-add-btn {
  height: 1rem;
}

.all-exercises-link {
  align-self: flex-end;
  font-size: .8rem;
  color: #5B5757;
}