.homepage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 3rem;
}

.homepage-btn-container {
  display: flex;
  flex-direction: column;
}

.homepage-btn {
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  background: #B6D19F;
  font-size: .8rem;
  border: none;
  height: 2.5rem;
  width: 12rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.01);
  color: #3A3F42;
  font-weight: 700;
}

.homepage-btn:hover {
  background: #A3BC93;
  cursor: pointer;
}

.homepage-link-btn {
  margin-top: 1rem;
  font-weight: 700;
}

.homepage-image {
  text-align: center;
  padding-top: 1.5rem;
  width: 10rem;
  margin: 1rem;
}