@media(max-width: 390px) and (max-height: 844px) {
  .routes-container {
    overflow-x: hidden;
    padding: 1.5rem 1rem;
  }

  .signup-btn {
    width: 15rem;
  }

  .signup-container {
    margin: 0;
    width: 100%;
    padding: 1.5rem 0;
  }
}