.musclegroup-heading {
  font-size: 1rem;
  text-align: center;
}

.musclegroup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 3rem;
}

.musclegroup-btn-container {
  display: flex;
  flex-direction: column;
}

.musclegroup-btn {
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  background: #cae1b5;
  font-size: 0.8rem;
  border: none;
  height: 2.5rem;
  width: 12rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.01);
  color: #3A3F42;
  font-weight: 600;
}

.musclegroup-btn:hover {
  background: #a3bc93;
  cursor: pointer
}

.musclegroup-link-btn {
  margin-top: 1rem;
}
