.nav-icon-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #DEEEEF;
  padding: .75rem;
}

.nav-icon {
  display: flex;
  width: 1.75rem;
}

.nav-icon-profile {
  display: flex;
  width: 1.5rem;
}