.progress-container {
    height: 20px;
    width: 200px;
    background-color: #eeecf6;
    border-radius: 10px;
    margin: 50;
  }

  .progress-label-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: .25rem;
  }

  .progress-label{
    padding: 5;
    font-size: .8rem;
    color: black;
    font-weight: bold;
  }