.recap-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.recap-h1-header {
  font-size: 1.1rem;
}

.star-container {
  text-align: center;
}

.star {
  width: 1.25rem;
}

.recap-total-weight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comparison-image {
  margin-top: 0.5rem;
  max-width: 12rem;
  border-radius: 25px;
}

.recap-weight-message {
  padding: 1.5rem;
  text-align: center;
}