.profile-container, .character-container, .profile-btns-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.character {
  height: 11em;
}

.profile-name {
  margin: .75rem 0 .25rem 0;
}

.profile-level {
  margin: .25rem;
}

.profile-level-progress {
  margin: 1rem 0 .5rem 0;
}

.profile-text {
  margin-top: .75rem;
}

.profile-weight {
  margin-bottom: 1rem;
}

.logout-btn {
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  font-size: .8rem;
  border: none;
  height: 2rem;
  width: 5rem;
  font-weight: 600;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.01);
}

.progress-btn, .profile-previous-btn {
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  font-size: .8rem;
  border: none;
  height: 2rem;
  width: 10rem;
  font-weight: 600;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.01);
  cursor: pointer;
}

.profile-btns-container {
  gap: 1.1rem;
}

.progress-btn {
  background: #C5E9FD;
}

.progress-btn:hover {
  background: #b5d2d8;
}

.profile-previous-btn {
  background: #DDECD2;
}

.profile-previous-btn:hover {
  background: #bfd5ab; 
}

