.workout-summary-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%
}

.workout-summary-headings, .set-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.workout-info-container-main {
  display: flex;
  flex-direction: column;
  background: #F0EFEB;
  border-radius: 5px;
  margin-bottom: 1.5rem;
}

.workout-info-container{
  background: #F0EFEB;
  border-radius: 5px;
  padding: .5rem;
  display: flex;
  justify-content: space-between;
}

.workout-summary-headings {
  padding: .25rem;
}

.workout-summary-heading {
  font-size: .8rem;
  font-weight: 700;
}

.workout-exercise-info-name, .workout-exercise-info-total {
  font-size: .8rem;
}